COCOAPODS_PARALLEL_CODE_SIGN = YES
IPHONEOS_DEPLOYMENT_TARGET = 12.0
SDKROOT = iphoneos
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1
ENABLE_BITCODE = NO
ALWAYS_SEARCH_USER_PATHS = NO
INFOPLIST_FILE = src/Info.plist
PRODUCT_NAME = mokoApp // REPLACE:mokoApp:APP_NAME
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
